body {
  background: #330099;
  color: #fff;
  font-family: montserrat;
  text-align: center;
}

.title {
  font-size: 18px;
}

.subtitle {
  font-size: 16px;
  font-weight: 200;
}

.wrapper  {
  position: relative;
  margin: 0 auto 100px;
  height: 50px;
  width: 80%;
  transition: .2s;
  border: dashed 1px #fff;
}

.circle {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFD22E;
  animation: move 2s infinite;
}

.delay2s {
  animation-delay: 2s;
}
@keyframes flash {
  to {
    color: red;
  }
 }
  h1 {
    font-size: 32px;
    animation: .3s flash infinite ease-in-out;
}
