@keyframes Hello {
  to {
    color: blue;
  }
}
.wrapper {
  margin-left: 35%;
  font-size: 60px;
  animation: Hello .5s infinite ease-in-out;
}
@keyframes flash {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(940px);
  }
  100% {
    transform: translateX(0);
   }
  }
  .scuare {
    margin-top: 4%;
    position: absolute;
    width: 80px;
    height: 80px;
    background: blue;
    animation: 2s flash infinite ease-in-out;
  }
  @keyframes box {
    from {
      transform: translateX(0);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
     }
    }
  .box {
    margin-top: 100px;
    position: absolute;
    width: 80px;
    height: 80px;
    background: red;
    animation: 2s box infinite ease-in-out;
  }
  @keyframes oren {
    from {
      transform: translateX(0);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
     }
    }
  .oren {
    margin-top: 100px;
    position:  absolute;
    width: 80px;
    height: 80px;
    background: #ffa500;
    animation: 2s orenes infinite ease-in-out;
  }
